.wrap {
    background-color:black; 
    width: 950px;
    height: 900px;
    margin: auto;
}
.top-header {
    height: 160px;
    background-color: yellow;
}

.logo {
    width: 45%;
    height: 50%;
    color: black;
    display: inline-block;
    margin-left: 20px;
    margin-top: 35px;
    margin-bottom: 20px;
}

#logo-pic {
    height: 100%;
    width: 100%;
}

.contact-info {
    float: right;
    color: white;
    background-color: blue;
    width: 45%;
    display: inline-block; 
    margin-right: 10px;
    margin-top: 10px;

}

.office-photo {
    height: 25%;
}

#mom-dad-photo {
    height: 100%;
    width: 100%;
    text-align: center;
    display: inline-block;
}

.texty {
    float: right;
    width: 80%;
    height: 100%;
    background-color: darkgreen;
    
}

.footer {
    background-color: fuchsia;
    height: 3%;
}

.body {
    background-color: grey;
}

.home-body {
    height: 57%;
    margin: auto;
}

#tabs {
    width: 99.1%;
    height: 98.5%;
    background-color: white;
    margin: auto;
    border-radius: 0px;
}

.ui-tabs-vertical {
    width: 55em; 
}

.ui-tabs-vertical .ui-tabs-nav { 
    padding: 1px 1px 1px 1px;
    float: left;
    width: 25%; 
}   

.ui-tabs-vertical .ui-tabs-nav li { 
    clear: left; 
    width: 100%;
    border-bottom-width: 1px !important;
    border-right-width: 1px !important;
}

.ui-tabs-vertical .ui-tabs-nav li a { 
    display: block;
    width: 200px;
}

.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { 
    padding-bottom: 0; 
    padding-right: 1px;
    border-right-width: 1px; 
}

.ui-tabs-vertical .ui-tabs-panel {  
    float: right;
    width: 66%
}

h1 {
    text-align: center;
}
.main-tabs {
    height: 180px;
}

.title {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: aqua;
}
