.wrap {
    background-color: brown;
    width: 950px;
    height: 1050px;
    margin: auto;
}
.top-header {
    height: 160px;
    background-color: lightslategray;
}

.logo {
    width: 45%;
    height: 50%;
    color: black;
    display: inline-block;
    margin-left: 20px;
    margin-top: 35px;
    margin-bottom: 20px;
}

#logo-pic {
    height: 100%;
    width: 100%;
}

.contact-info {
    float: right;
    color: white;
    background-color: blue;
    width: 45%;
    height: 90%;
    display: inline-block; 
    margin-right: 10px;
    margin-top: 10px;
    padding-left: 5px;
}

.office-photo {
    height: 25%;
}

#mom-dad-photo {
    height: 100%;
    width: 100%;
    text-align: center;
    display: inline-block;
}

.texty {
    float: right;
    width: 80%;
    height: 100%;
    background-color: darkgreen;
    
}

.footer {
    background-color: fuchsia;
    height: 3%;
}

.body {
    background-color: #A0A0A0;
}

.home-body {
    height: 57%;
    margin: auto;
    background-color: brown;
    border: 0px;
}

#tabs {
    width: 99.3%;
    height: 98.5%;
    margin: auto;
    border-radius: 0px;
    background-color: grey;;
    border: 0;
    position: relative;
}

.ui-tabs-vertical {
    width: 55em;
}

.ui-tabs-vertical .ui-tabs-nav { 
    padding: 1px 1px 1px 1px;
    float: left;
    width: 18%; 
}   

.ui-tabs-vertical .ui-tabs-nav li { 
    clear: left; 
    width: 100%;
    border-bottom-width: 1px !important;
    border-right-width: 1px !important;
}

.ui-tabs-vertical .ui-tabs-nav li a { 
    display: block;
    width: 135px;
}

.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { 
    padding-bottom: 0; 
    padding-right: 1px;
    border-right-width: 1px; 
}

.ui-tabs-vertical .ui-tabs-panel {  
    width: 500px;
    margin-left: 200px;
    font-size: 16px;
    height: 550px;
}

h1 {
    text-align: center;
}
.main-tabs {
    height: 180px;
    background-color: brown;
}

.title {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: aqua;
}
#portrait1 {
    width: 180px;
    margin-top: -580px;
    background-color: blue;
    float: right;
}

#portrait2 {
    width: 180px;
    margin-top: -280px;
    background-color: blue;
    float: right;
}

#amir {
    width: 180px;
    height: 220px;
}

#title {
    font-size: 167x;
    text-align: center;
    margin-top: 5px;
    width: 100%;
    color:white;
    
}

#disclaimer {
    float: left;
    width: 180px;
    margin-top: -350px;
    font-size: 16px;
    padding-left: 10px
}

#work-spacing {
    padding-left: 12px;
}

#address2-spacing {
    padding-left: 70px;
}

#address1-spacing {
    padding-left: 9.0px;
}

#email-spacing {
    padding-left: 23px;
}

#fax-spacing {
    padding-left: 25px;
}

#cell-spacing {
    padding-left: 22px;
}
